<h1>Rare Books for <%= "#{@library.name}" %></h1>


<% @rare_books.each do |book| %>
  <h3>Title: <%= book.title  %></h3>
  <p>Cost: <%= book.cost  %></p>
  <p>On Display: <%= book.on_display  %></p>
  <br>
<% end %>
